/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 51px;
}
.nobtn {
  background-color: transparent;
  border: none;
}
/*#######################################
alert box display
####################################### */
#alert_box {
  margin-top: 10px;
}
/*#######################################
Widget display
####################################### */
.widgetrow {
  text-align: center;
}
.widgetpan {
  margin-top: 20px;
  margin-bottom: 20px;
}
.widgetpan .widget {
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  height:150px;
  width:150px;
  border-color: #f49542;
  border-style: solid;
  border-width: 7px;
  vertical-align:middle;
  text-align:center;
  padding-top: 41px;
  color:#f49542;
}
.widgetpan .widget span {
  font-size: 40px;
  text-align:center;
  font-weight: bold;
}
/*#######################################
Webcam display
####################################### */
.camheader {
  margin-right: 2px;
  line-height: 1.42857143;
  position: relative;
  display: block;
  padding: 10px 15px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.cambody {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;

}
/*#######################################
test 1 -> 4 is for debugging grid
####################################### */
.test1 {
  background-color: green;
}
.test2 {
  background-color: yellow;
}
.test3 {
  background-color: pink;
}
.test4 {
  background-color: blue;
  color: white;
}
