{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Boostrap initialisation -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'bootstrap/css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
  <link href="{% static 'css/theme.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap/js/ie-emulation-modes-warning.js' %}"></script>
  <!-- Boostrap end of initialisation -->

  <link rel="icon" href="{% static 'img/flavicon.png' %}">
  <title>Arduinopinic v{{ version }}</title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top"> <!-- Def of navbar : Inversed color - fixed to top of screen -->
    <div class="container-fluid"> <!-- container so that nav bar fit to all screen -->
      <div class="navbar-header"> <!-- Brand name and button for xs screen -->
        <a class="navbar-brand" href="#"><img src="{% static 'img/flavicon.png' %}" width="30" height="30" alt="Arduinopinic"></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <!-- Toggle button if xs screen -->
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar"> <!-- Part of nav bar collapsed if xd xs screen -->
        <ul class="nav navbar-nav navbar-left"> <!-- items on left of navbar -->
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right"> <!-- items on right of navbar -->
          <li><a href="#">Daemon status : <font  id=vstatus style="font-size: 22px;color:green;">&#9673; </font></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid"> <!-- Main container -->
    <div class="row"> <!-- row for alerts to be popup -->
      <div class="container">
        <div class="col-sm-12" id=alert_box></div>
      </div>
    </div>
    <div class="row"> <!-- row for header widgets and collapse button -->
      <div class="col-sm-12"><h3>Widgets <button class="nobtn" data-toggle="collapse" data-target="#pan_widget">&#9662;</button></h3></div>
    </div>
    <div class="row collapse in widgetrow" id=pan_widget> <!-- row for widgets collpasable-->
      <div class="col-sm-3 col-xs-6 widgetpan"><div class="widget" id=wtemp><span id=vtemp>N/A</span><br/>&#8451;</div></div>
      <div class="col-sm-3 col-xs-6 widgetpan"><div class="widget" id=whumid><span id=vhumid>N/A</span><br/>%</div></div>
      <div class="col-sm-3 col-xs-6 widgetpan"><div class="widget" id=weau><span id=veau>N/A</span><br/>&#8451;</div></div>
      <div class="col-sm-3 col-xs-6 widgetpan"><div class="widget" id=wlevel><span id=vlevel>N/A</span><br/></div></div>
    </div>
    <div class="row"> <!-- row for header webcam/graph and collapse button -->
      <div class="col-sm-12"><h3>Monitoring <button class="nobtn" data-toggle="collapse" data-target="#pan_graph">&#9662;</button></h3></div>
    </div>
    <div class="row collapse in" id=pan_graph> <!-- row for webcam/graph collpasable-->
      <div class="col-sm-6"> <!-- pan for webcam-->
        <div class="container-fluid camheader">Webcam</div>
        <div class="container-fluid cambody"><img src="{% static 'img/webcam.jpg' %}" style="max-width:100%"></div>
      </div>
      <div class="col-sm-6"> <!-- pan for graph-->
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#d24h">24 hours</a></li>
          <li><a data-toggle="tab" href="#d7">7 days</a></li>
          <li><a data-toggle="tab" href="#d30">30 days</a></li>
        </ul>
        <div class="tab-content">
          <div id="d24h" class="tab-pane fade in active">
            <div id="spinner1"></div>
            <div id="graph1"><canvas id='graphique1'></canvas></div>
          </div>
          <div id="d7" class="tab-pane fade">
            <div id="spinner2"></div>
            <div id="graph2"><canvas id='graphique2'></canvas></div>
          </div>
          <div id="d30" class="tab-pane fade">
            <div id="spinner3"></div>
            <div id="graph3"><canvas id='graphique3'></canvas></div>
          </div>
        </div>
      </div> <!-- pan for graph-->
    </div>
  </div>


  <!-- Boostrap JSinitialisation -->
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script>
  updateURL='{% url "Widgets" %}'
  updateChartURL1='{% url "Chart" type=1 %}'
  updateChartURL2='{% url "Chart" type=2%}'
  updateChartURL3='{% url "Chart" type=3%}'
  </script>
  <script src="{% static 'js/moment-with-locales.js' %}"></script>
  <script src="{% static 'js/Chart.js' %}"></script>
  <script src="{% static 'js/basics.js' %}"></script>
</body>
</html>
