{% load static %}
{% include 'header.html' %}
  <div class="container"> <!-- Main container -->
    <div class="row"> <!-- row for alerts to be popup -->
      <div class="container">
        <div class="col-sm-12" id=alert_box></div>
      </div>
    </div>
    <div class="row"> <!-- row for title -->
      <h2>Metrics</h2>
    </div>
    <div class="row"> <!-- row for top pagination -->
      <a class="btn btn-success" href='{% url "csvexport" %}'>Export to csv</a><br/>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href='{% url "Listing" page=page_obj.previous_page_number %}'>&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href='{% url "Listing" page=i %}'>{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href='{% url "Listing" page=page_obj.next_page_number %}'>&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
    <div class="row"> <!-- row for table -->
      <table class="table table-striped">
        <thead><tr><th>Date</th><th>Température</th><th>Humidité</th><th>Eau</th></tr></thead>
        <tbody>
          {% for entry in page_obj %}
          <tr><td>{{ entry.date|date:"M d, Y, H:i" }}</td><td>{{ entry.tempext }} °C</td><td>{{ entry.humid }} %</td><td>{{ entry.tempeau }} °C</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row"> <!-- row for bottom pagination -->
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href='{% url "Listing" page=page_obj.previous_page_number %}'>&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href='{% url "Listing" page=i %}'>{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href='{% url "Listing" page=page_obj.next_page_number %}'>&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
  </div>


  <!-- Boostrap JSinitialisation -->
  <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/moment-with-locales.js' %}"></script>
  <script src="{% static 'js/Chart.js' %}"></script>
  <script src="{% static 'js/listing.js' %}"></script>
</body>
</html>
